WeatherApp/WeatherApp/Connected Services/WeatherService/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:83/WeatherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:83/WeatherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:83/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherWcf.Models" />
      <xsd:import schemaLocation="http://localhost:83/WeatherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WeatherWcf.Interfaces.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_GetWorldTemperatures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldTemperatures" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWorldTemperatures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldTemperaturesResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWorldTemperaturesSoap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldTemperaturesSoap" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWorldTemperaturesSoap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldTemperaturesSoapResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetEuropeanTemperatures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEuropeanTemperatures" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetEuropeanTemperatures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEuropeanTemperaturesResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetForecastData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastData" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetForecastData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_WeatherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:WeatherInfo" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_WeatherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeatherInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="GetWorldTemperatures">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetWorldTemperatures" message="tns:IWeatherService_GetWorldTemperatures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetWorldTemperaturesResponse" message="tns:IWeatherService_GetWorldTemperatures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorldTemperaturesSoap">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetWorldTemperaturesSoap" message="tns:IWeatherService_GetWorldTemperaturesSoap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetWorldTemperaturesSoapResponse" message="tns:IWeatherService_GetWorldTemperaturesSoap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEuropeanTemperatures">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetEuropeanTemperatures" message="tns:IWeatherService_GetEuropeanTemperatures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetEuropeanTemperaturesResponse" message="tns:IWeatherService_GetEuropeanTemperatures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForecastData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetForecastData" message="tns:IWeatherService_GetForecastData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetForecastDataResponse" message="tns:IWeatherService_GetForecastData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeatherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/WeatherInfo" message="tns:IWeatherService_WeatherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/WeatherInfoResponse" message="tns:IWeatherService_WeatherInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherService" type="tns:IWeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorldTemperatures">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetWorldTemperatures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorldTemperaturesSoap">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetWorldTemperaturesSoap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEuropeanTemperatures">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetEuropeanTemperatures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForecastData">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetForecastData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeatherInfo">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/WeatherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IWeatherService" binding="tns:BasicHttpBinding_IWeatherService">
      <soap:address location="http://localhost:83/WeatherService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>