WeatherApp/WeatherApp/Connected Services/WeatherService/WeatherService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherWcf.Interfaces.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherWcf.Interfaces.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:83/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherWcf.Models" />
  <xs:complexType name="Weather_Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celcius" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fahrenheit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather_Request" nillable="true" type="tns:Weather_Request" />
  <xs:complexType name="Weather_Response">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherWcf.Models" minOccurs="0" name="locations" nillable="true" type="q1:ArrayOfLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather_Response" nillable="true" type="tns:Weather_Response" />
</xs:schema>